In [1]:
import pandas as pd

In [2]:
df=pd.DataFrame({
    "date":["05/12/2025","06/12/2025"],
    "amount":[500,600],
    "category":["Vada Pav","taxi"]
})
print(df)

         date  amount  category
0  05/12/2025     500  Vada Pav
1  06/12/2025     600      taxi

In [15]:
new_exp={
    "date":"07/12/2025",
    "amount":10000,
    "category":"G Lab"
}
print(pd.concat([df,pd.DataFrame([new_exp])], ignore_index=True))
total_exp = pd.concat([df,pd.DataFrame([new_exp])], ignore_index=True)

         date  amount  category
0  05/12/2025     500  Vada Pav
1  06/12/2025     600      taxi
2  07/12/2025   10000     G Lab

In [16]:
total=total_exp["amount"].sum()
print(total)

11100

In [17]:
print(total_exp["category"])

0    Vada Pav
1        taxi
2       G Lab
Name: category, dtype: object

In [20]:
ind=total_exp.loc[1,"amount"]
print(ind)

600